* {
	margin: 0;
}
:root {
	--DarkBlue: hsl(233, 26%, 24%);
	--LimeGreen: hsl(136, 65%, 51%);
	--BrightCyan: hsl(192, 70%, 51%);
	--GrayishBlue: hsl(233, 8%, 62%);
	--LightGrayishBlue: hsl(
		220,
		16%,
		96%
	);
	--VeryLightGray: hsl(0, 0%, 98%);
	--White: hsl(0, 0%, 100%);
}
@font-face {
	font-family: "publicsans";
	src: url(/fonts/PublicSans[wght].ttf);
}
.first::-webkit-scrollbar {
	display: none;
}
.container,
header {
	font-family: "publicsans";
}
header {
	display: flex;
}
footer {
	width: 100%;
	height: fit-content;
	background-color: var(--DarkBlue);
}
@media only screen and (min-width: 320px) {
	header nav,
	header .header-request {
		display: none;
	}
	header {
		padding: 20px;
		justify-content: space-between;
		position: fixed;
		top: 0;
		background-color: white;
		z-index: 1;
		width: 90%;
	}
	.first {
		display: flex;
		flex-direction: column-reverse;
	}
	.first .left {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 15px;
		margin-top: -40px;
		padding-bottom: 10%;
	}
	.first .left h1 {
		color: var(--DarkBlue);
		font-weight: 400;
		width: 80%;
		text-align: center;
		font-size: 26px;
	}
	.first .left p {
		color: var(--GrayishBlue);
		width: 80%;
		font-size: 12px;
		padding: 5px;
	}
	.first .left a {
		background: linear-gradient(
			to left,
			var(--BrightCyan),
			var(--LimeGreen)
		);
		color: var(--White);
		text-decoration: none;
		padding: 15px;
		border-radius: 100vmax;
		font-size: 14px;
		width: 45%;
		text-align: center;
	}
	.first .right {
		background-image: url(/images/bg-intro-mobile.svg);
		background-position: center;
		background-size: cover;
		height: 65vh;
		display: flex;
		justify-content: center;
	}
	.first .right .phone {
		height: fit-content;
		width: 90%;
		position: absolute;
		top: -4%;
	}
	.second {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		text-align: center;
		background-color: var(
			--LightGrayishBlue
		);
		padding-top: 50px;
		padding-bottom: 50px;
	}
	.second .maintitle {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 20px;
	}
	.second .maintitle h2 {
		font-weight: 300;
		font-size: 26px;
		color: var(--DarkBlue);
		width: 80%;
	}
	.second .maintitle p {
		padding-bottom: 30px;
		color: var(--GrayishBlue);
		font-size: 14px;
	}
	.imagedescription {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 5px;
		text-align: center;
	}
	.imagedescription .title {
		font-weight: 400;
		font-size: 18px;
		color: var(--DarkBlue);
	}
	.imagedescription p {
		color: var(--GrayishBlue);
		font-size: 14px;
		padding-bottom: 10px;
	}
	.third {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
	}
	.third img{
		height: fit-content;
		width: 85%;
		border-radius: 4px 4px 0 0;
	}
}
